/* stylesheets/extra.template.css */
/*
a {
    color: __LINK_COLOR__;
  }
  a:visited {
    color: __LINK_COLOR__;
  }
*/
  a:hover {
    color: darken(__HOVER_COLOR__, 10%);
  }

  a:active {
    color: __LINK_COLOR__;
  }

  .icon-xl {
    font-size: 2em;
  }
  
  .icon-xxl {
    font-size: 3em;
  }
  
  .icon-xxxl {
    font-size: 4em;
  }
  
  .icon-grey {
    color: #808080;
  }