/* stylesheets/extra.template.css */
/*
a {
    color: __LINK_COLOR__;
  }
  a:visited {
    color: __LINK_COLOR__;
  }
*/
  
  /* Hover-Effekt */
  a:hover {
    color: __HOVER_COLOR__ !important;
  }
  
  /* Aktives Menüelement in der Navigation */
  .md-nav__link--active,
  .md-nav__item--active > .md-nav__link {
    color: __HOVER_COLOR__ !important;
    font-weight: bold;
  }
  
  /* Aktiver Tab (z. B. auf Indexseiten oder in Reitern) */
  .md-tabs__link--active {
    color: __HOVER_COLOR__ !important;
    border-bottom: 2px solid __HOVER_COLOR__;
  }

  .icon-xl {
    font-size: 2em;
  }
  
  .icon-xxl {
    font-size: 3em;
  }
  
  .icon-xxxl {
    font-size: 4em;
  }
  
  .icon-grey {
    color: #808080;
  }