/* stylesheets/extra.template.css */
/*
a {
    color: #189EDA;
  }
  a:visited {
    color: #189EDA;
  }
*/
  
  /* Hover-Effekt */
  a:hover {
    color: #189EDA !important;
  }
  
  /* Aktives Menüelement in der Navigation */
  .md-nav__link--active,
  .md-nav__item--active > .md-nav__link {
    color: #189EDA !important;
    font-weight: bold;
  }
  
  /* Aktiver Tab (z. B. auf Indexseiten oder in Reitern) */
  .md-tabs__link--active {
    color: #189EDA !important;
    border-bottom: 2px solid #189EDA;
  }

  .grid.cards a {
    text-decoration: none;
    display: block;
    color: inherit;
  }
  .grid.cards a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .icon-xl {
    font-size: 2em;
  }
  
  .icon-xxl {
    font-size: 3em;
  }
  
  .icon-xxxl {
    font-size: 4em;
  }
  
  .icon-grey {
    color: #808080;
  }