/* stylesheets/extra.template.css */
/*
a {
    color: #ff0000;
  }
  a:visited {
    color: #ff0000;
  }
*/
  a:hover {
    color: #ff0000 !important; 
  }

  a:active {
    color: #ff0000 !important;
  }

  .icon-xl {
    font-size: 2em;
  }
  
  .icon-xxl {
    font-size: 3em;
  }
  
  .icon-xxxl {
    font-size: 4em;
  }
  
  .icon-grey {
    color: #808080;
  }