/* stylesheets/extra.template.css */
a {
    color: #0A74DA;
  }
  a:visited {
    color: #0A74DA;
  }
  a:hover {
    color: darken(#0A74DA, 10%);
  }

  .icon-xl {
    font-size: 2em;
  }
  
  .icon-xxl {
    font-size: 3em;
  }
  
  .icon-xxxl {
    font-size: 4em;
  }
  
  .icon-grey {
    color: #808080;
  }